/*
Centerplate 1.0 é uma (fraca e amadora) framework para CSS3. 
Use a classe centerplate para centralizar todo o conteúdo da página dentro de uma div de conteúdo. 
Use a classe h-ext para esticar uma div horizontalmente e tomar a largura da tela.
*/

/* Tank, 2014-2015 */

/*a classe centerplate só serve para centralizar o conteúdo da página */
.centerit {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	height: 100%;
}

/* Magic happens here */
.h-ext {
    left: 0;
    min-width: 100%;
    position: static;
    z-index: -99;
}

/* aceleradores */
.left {
	float: left;	
}
.right {
	float: right;	
}